<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to my app</title>
</head>
<body>
  <main>
    <%- include('navbar') %>
    <h3>Welcome to my message board</h3>
  </main>
</body>
</html>